.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}

.main-container{
    flex: 1;
}

.summary{
    width: 90%;
    direction: rtl;
    text-align: center;
    font-size: 20px;
    margin: auto;

    background-color: black;
    overflow: hidden;

    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;

    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows:     repeat(2, 1fr);
    gap: 1px;
}

.summary p{
    background-color: rgba(211, 211, 211, 1);
}

.summary .Thead{
    color: white;
    background-color: rgba(128, 128, 128, 1);
}

.items-div{
    margin: 20px 5px;
    /* background-color: black; */
    direction: rtl;

    display: grid;
    grid-template-columns: repeat(4, auto);
}

.item, .total-quantity-controls {
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px black;

    padding: 20px;
    margin: 5px 20px;
}

.item{
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    gap: 5px;

    max-width: 395px;
}

.book-cover{
    width: 80px;
    height: 120px;

    border-radius: 15px;
    box-shadow: 0 0 2px black;
}

.details{
    padding: 20px;
}

.details .book-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 32px;
}

.details .price{
    margin: 0 20px;
}

.details .old-price{
    color: gray;
    text-decoration: line-through red;
    margin: 0 10px 0 0;
}

.details .new-price{
    font-size: 17px;
    font-weight: 700;
}

.Remove-btn {
    background-color: transparent;

    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.not-avalible{
    margin: 41px auto;
    grid-column: 2/3;

    text-align: center;

    font-weight: 900;
    font-size: 25px;
}