/* global body and uni */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(250, 235, 215, 50%);
}

/* section name */

.section-name{
    direction: rtl;

    font-size: 50px;
    margin: 0 15px 5px 0;
}

/* top sale section contain cards */

.top-sale, .fantasy {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 16px;
    scroll-behavior: smooth;
    direction: rtl;
}
